<div class="page-model">
    <div class="profile">
        <img src="/assets/octopus.png" class="octopus">
        <div class="info-acc">
            <h1>Octopusic</h1>
            <div class="info-posts">
                <p>Counter posts: <b>{{posts.length}}</b></p>
                <p>Date creating acc: <b>**.**.**</b></p>
                <p>Last post: <b>{{getLastDate() | date: 'short'}}</b></p>
            </div>
        </div>
    </div>
    <div class="posts">
        <div class="post" *ngFor="let post of posts">
            <div class="info-post">
                <h1>{{post.title}}</h1>
                <p>{{post.date | date: 'short'}}</p>
            </div>
            <p class="text-post" [innerHTML]="post.text">
            </p>
        </div>
    </div>
</div>