<div class="model">
    <form action="" class="registration">
        <div class="field">
            <input type="text" class="login" name="login" placeholder="Login">
            <hr>
        </div>
        <div class="field error-f">
            <input type="text" class="password" name="password" placeholder="Password">
            <hr>
        </div>
        <div class="field">
            <input type="email" class="email" name="email" placeholder="Email">
            <hr>
        </div>
        <button class="btn">Register</button>
        <div class="warning">
            <p class="error-message">Password is not valid</p>
        </div>
        <img src="assets/back.png" [routerLink]="['/']" class="close">
    </form>
</div>