@import '../../../variables';
@import '../../../mixins';

.model {
    width: 320px;
    height: 570px;
    margin: 10px;
    padding: 0px;
    align-items: center;
    img {
        margin-top: 15px;
    }
    .btns{
        text-align: center;
    }
    .btn{
        max-width: 300px;
    }
    .exit {
        color: white;
        font-size: 22px;
        margin: 8px;
        cursor: pointer;
    }
    .exit:hover {
        color: $pink;
    }
    .exit:active {
        transform: translateY(4px);
    }
}