.page-model {
    background: url("/assets/sea.jpg");
    background-size: cover;
    padding: 0px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    .model {
        width: auto;
        margin: 20px;
    }
}