<div class="model">
    <form [formGroup]="form" class="form-login" (ngSubmit)="submit()">
        <div class="field" [ngClass]="{'error-f': this.form.controls['email'].errors && this.form.controls['email'].touched}">
            <input
                type="email"
                formControlName="email"
                placeholder="Email"
            >
            <hr>
        </div>
        <div class="field" [ngClass]="{'error-f': this.form.controls['password'].errors && this.form.controls['password'].touched}">
            <input
                type="password"
                formControlName="password"
                placeholder="Password"
            >
            <hr>
        </div>
        <div>
            <button
                class="btn"
                type="submit"
                [disabled]="form.invalid || submitted"
                >Login</button>
            <div *ngIf="this.form.touched && this.form.invalid" class="warning">
                
                <p class="error-message" *ngIf="this.form.controls['email'].touched">
                    <i *ngIf="this.form.controls['email'].errors?.['email']">
                        Email is invalid
                    </i>
                    <i *ngIf="this.form.controls['email'].errors?.['required']">
                        Email is required
                    </i>
                </p>
                <p class="error-message" *ngIf="this.form.controls['password'].touched">
                    <i *ngIf="this.form.controls['password'].errors?.['minlength']">
                        Min password length 6
                    </i>
                    <i *ngIf="this.form.controls['password'].errors?.['required']">
                        Password is required
                    </i>
                </p>
            </div>
            <div *ngIf="auth.error$ | async as error" class="warning">
                <p class="error-message">{{error}}</p>
            </div>
            <img src="assets/back.png" [routerLink]="['/']" class="close">
        </div>
    </form>
</div>