.message {
    width: 400px;
    font-family: Arial;
    background-color: rgba(21, 255, 0, 0.805);
    padding: 10px;
    p {
        color: white;
    }
    position: absolute;
    top: 150px;
    margin-left: 80px;
}