/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import 'mixins';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.snow.css';

.main {
    background-image: url('/assets/background.jpg');
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    font-family: "Irish Grover", system-ui; 
}

.model {
    @include border();
    background-color: #00162ed2;
    width: 540px;
    padding: 15px;
    height: 320px;
    .octopus{
        max-width: 280px; 
        margin: 10px;
    }
    .field {
        hr {
            border: 1px solid $pink;
        }
        margin: 40px 20px 30px;
        input {
            background: none;
            outline: none;
            border: none;
            width: 100%;
            padding-left: 15px;
            font-size: 22px;
            color: white;
        }
    }
    .field.error-f {
        input {
            color: #ff2828;
        }
        hr {
            border: 1px solid #ff2828;
        }
    }
    .warning {
        .error-message {
            color: #ff526a;
            font-size: 14px;
            font-family: 'Arial Narrow', Arial, sans-serif;
            font-weight: normal;
            margin: auto;
        }
    }
    
}

.close {
    max-width: 16px;
    margin-right: 540px;
    cursor: pointer;
}
.page-model {
    @include border($bdark);
    background-color: white;
    width: 900px;
    padding: 15px;
    height: 570px;
    margin: 10px;
}

.btn {
    width: 400px;
    margin: 8px;
    @include btn();
}

.btn:disabled, .btn:disabled:hover{
    background-color: #495869;
    color: $bdark;
    border-color: $bdark;
    cursor: not-allowed;
}
.btn:hover, .btn.active{
    background: $blight;
}
.btn:active {
    background: $blight;
    transform: translateY(4px);
}

.delete {
    display: none !important;
}